<!-------Modal starts-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModal">Category Name</h5>
        <button class="close btn btn-solid" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="needs-validation" #categoryForm="ngForm" (ngSubmit)="updateCategory()" novalidate>
            <div class="row">
                <div class="form-group col-10">
                    <input class="form-control col-md-12" id="validationCustom0" type="text" required
                        placeholder="Category Name" [(ngModel)]="editedCategory.categoryName" name="categoryName"
                        #categoryName="ngModel" />
                    <div *ngIf="
              categoryName.invalid &&
              (categoryName.dirty || categoryName.touched)
            " class="text-danger mt-2">
                        Category Name is required.
                    </div>
                </div>
                <div class="form-group col-2">
                    <button class="button" type="submit" [disabled]="categoryForm.invalid">
                        <i style="font-size: 25px" class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-------./Modal Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <label style="font-size: 16px; font-weight: 600">Add Category:
                    </label>
                    <button type="button" style="float: right; margin-left: 1%" class="btn btn-primary mr-1"
                        (click)="addcategory()">
                        Add Category
                    </button>
                    <input type="text" style="float: right" name="category" [(ngModel)]="category"
                        class="form-control digits col-xl-3 col-sm-2" />
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="border-top: none">No</th>
                                <th style="width: 60%; border-top: none">Category Name</th>
                                <th style="border-top: none; width: 40%">Action</th>
                                <th style="width: 40%; border-top: none">View Questions</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="
                let ctg of categorylist
                  | paginate
                    : {
                        itemsPerPage: tablesize,
                        currentPage: page,
                        totalItems: count
                      };
                index as i
              ">
                            <tbody style="height: 4rem">
                                <td>{{ i + 1 }}</td>
                                <td style="position: relative; padding: 3; height: 30%">
                                    <a style="margin: auto; flex: auto" data-abc="true">
                                        <div class="dropdown">
                                            <span class="login dropbtn">{{ ctg.categoryName }}</span>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer"
                                        (click)="open(content, ctg)"><app-feather-icons
                                            [icon]="'edit'"></app-feather-icons>
                                    </a>
                                    |
                                    <a style="cursor: pointer"
                                        (click)="deleteCategoryName(ctg.categoryId)"><app-feather-icons
                                            [icon]="'trash-2'"></app-feather-icons>
                                    </a>
                                </td>
                                <td>
                                    <a [routerLink]="[
                      '/dashboard/questionbycategory',
                      ctg.categoryId
                    ]"><i class="fa fa-mail-forward"></i></a>
                                </td>
                            </tbody>
                        </ng-container>
                    </table>
                    <span>
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
