.edit-container {
    
    .card-container {
        position: relative;
        min-width: 255px;
       // border: 1px solid #ccd0d4;
        box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
        background: #fff;
    }
    .card-container, .stuffbox {
        margin-bottom: 20px;
        padding: 0;
        line-height: 1;
    }
    p {
        .description,.help, span.description {
        font-size: 13px;
        }
    }
    .description {
        font-size: 13px;
    }
    .card-inner-container {
        padding: 0 12px 12px;
        line-height: 1.4;
        font-size: 13px;
        
    }
    .card-header {
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
        line-height: 1.4;
    }
    h3 {
        color: #23282d;
        font-weight: 600;
    }
   
    .btn{
        text-transform: none !important;
        font-size: 13px;
        font-weight: normal;
        }
        .button-infoo {
        background: #007cba !important;
        border-color: #007cba !important;
        color: #fff !important;
        text-decoration: none !important;
        text-shadow: none !important; 
        &:hover,&:focus {
            background: #0071a1;
            border-color: #0071a1;
            color: #fff;
        }
        }
    .btn-outline-infoo{
        color: #0071a1;
        border-color: #0071a1;
        background: #f3f5f6;
        &:focus,&:hover {
            background: #f3f5f6;
        }
        }
    .regular-text {
        width: 25em;
    }
    // th,td{
    //     border: 1px solid;
    //     padding: 5px;
    // }
    
    }
    
    
    
    
    .small-text {
        width: 65px !important;
    }
    input[type="date"] {
        position: relative;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
       
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    /* margin-left: -23px; */
    display: none;
    position: relative;
    /* background-color: #f9f9f9; */
    /* min-width: 140px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
  }
  .fontsize{
   font-size: 11px;
 }
  .dropdown-content a {
  //  color: black;
    /* padding: 12px 20px; */
    /* text-decoration: none; */
    display: relative;
  }
  
  .dropdown-content a:hover {
   background-color: #f1f1f1
   
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ff8084;
    cursor: pointer;
  }
  .aligncenter{
    text-align: center;
  }

