
<!-- Container-fluid starts-->
<div class="container-fluid edit-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border rounded-0">
                <div class="card-header">
                    <h5>Edit Questions</h5>
                </div>


            </div>
            <div class="card card-container border rounded-0">
                <h3 class="card-header">Filter</h3>

                <div class="card-inner-container">
                    <label class="description">
                        Sort By </label>
                    <select>
                        <option *ngFor="let entry of entries" [value]="entry.id">{{entry.name}}</option>

                    </select>
                </div>
                <div class="card-inner-container">

                    <label class="description">
                        How many entries should be shown on one page:</label>

                    <input name="pages" class="small-text" value="10" type="number" min="1">
                </div>
                <div class="card-inner-container">

                    <label class="description">
                        <b>Type:</b> UR = unregistered user,R = registered user</label>

                   

                </div>
                
            </div>
            <div class="card card-container border rounded-0">
                <!-- <h3 class="card-header">Filter</h3> -->
                <div class="card-inner-container">
                    <div class="pt-2">
                        <table class="mt-2" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="border-0 text-center"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"/></th>
                                    <th class="border-0 text-center">User</th>
                                    <th class="border-0 text-center">Email</th>
                                    <th class="border-0 text-center">Type</th>
                                    <th class="border-0 text-center">Entered on</th>
                                    <th class="border-0 text-center">Points</th>
                                    <th class="border-0 text-center">Results</th>
                                   

                                </tr>
                            </thead>
                            <ng-container *ngFor="let user of users; let i=index; ">
                                <tbody>
                                    <td class="aligncenter" > <input type="checkbox" value="{{user.id}}" [(ngModel)]="users[i].checked"></td>
                                    <td class="aligncenter" style="padding-left: 0;padding-bottom: 10px; cursor: pointer;">
                                        <a style="margin:auto; flex: auto" data-abc="true">
                                            <div class="dropdown">
                                                <span class="login dropbtn"> {{user.user}}</span>
                                                <div class="dropdown-content">
                                                    <a [routerLink]="['/quizz']">Delete
                                                    </a>

                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    
                                    <td class="aligncenter"> {{user.email}} </td>
                                    <td class="aligncenter"> {{user.type}} </td>
                                    <td class="aligncenter"> {{user.date}} </td>
                                    <td class="aligncenter"> {{user.points}} </td>
                                    <td class="aligncenter"> {{user.result}} </td>


                                </tbody>
                            </ng-container>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->