.eye-class {
    font-size: 16px;
    color: #474242;
    float: right;
    margin-right: 32px;
    margin-top: -28px;
  }
  .card-right{
    display:block;
    margin-left: auto;
    margin-right:auto;

  }
  